.heroes {
  grid-area: heroes;
  display: grid;
  grid-template-columns: 241px 213px 206px 177px;
  margin: auto;
  grid-column-gap: 32px;
}

.category {
  display: flex;
  align-items: center;
}

.option {
  width: 30px;
  height: 44px;
  background: black;
  margin-right: 3.2px;
  background-size: cover;
  transform: skewX(-15deg);
  transform-origin: bottom left;
  box-shadow: inset 0px 2px 0px 0px #fff, inset 0px -1px 0px 0px #fff;
  border-radius: 3px;
  transition-duration: 25ms;
}
.option:hover {
  transform: scale(1.15) skewX(-15deg) translate(-2px, 2px);
  box-shadow: 0px 0px 0px 3px #fff;
  z-index: 2;
}

.option.genji {
  background-image: url("./img/heroes/genji.png");
}
.option.mccree {
  background-image: url("./img/heroes/mccree.png");
}
.option.pharah {
  background-image: url("./img/heroes/pharah.png");
}
.option.reaper {
  background-image: url("./img/heroes/reaper.png");
}
.option.soldier-76 {
  background-image: url("./img/heroes/soldier-76.png");
}
.option.sombra {
  background-image: url("./img/heroes/sombra.png");
}
.option.tracer {
  background-image: url("./img/heroes/tracer.png");
}
.option.bastion {
  background-image: url("./img/heroes/bastion.png");
}
.option.hanzo {
  background-image: url("./img/heroes/hanzo.png");
}
.option.junkrat {
  background-image: url("./img/heroes/junkrat.png");
}
.option.mei {
  background-image: url("./img/heroes/mei.png");
}
.option.torbjorn {
  background-image: url("./img/heroes/torbjorn.png");
}
.option.torbjorn {
  background-image: url("./img/heroes/torbjorn.png");
}
.option.widowmaker {
  background-image: url("./img/heroes/widowmaker.png");
}
.option.dva {
  background-image: url("./img/heroes/dva.png");
}
.option.orisa {
  background-image: url("./img/heroes/orisa.png");
}
.option.reinhardt {
  background-image: url("./img/heroes/reinhardt.png");
}
.option.roadhog {
  background-image: url("./img/heroes/roadhog.png");
}
.option.winston {
  background-image: url("./img/heroes/winston.png");
}
.option.zarya {
  background-image: url("./img/heroes/zarya.png");
}
.option.ana {
  background-image: url("./img/heroes/ana.png");
}
.option.lucio {
  background-image: url("./img/heroes/lucio.png");
}
.option.mercy {
  background-image: url("./img/heroes/mercy.png");
}
.option.symmetra {
  background-image: url("./img/heroes/symmetra.png");
}
.option.zenyatta {
  background-image: url("./img/heroes/zenyatta.png");
}
